body{
	padding: 0px;
	margin:0px;
	height: 100%;
}



.fp-tableCell{
	display: inline-block;
}


#sec1{
	background-image: url('../pics/sec1.png');
	background-repeat: no-repeat;
	background-color: #f7f7f7;
	background-size: 100% 50%;
	background-position: bottom;

}

.common{
	color: green;
	text-align: center;
}

.wel{
	font-family: 'Satisfy', cursive;
	font-size: 80px;
	
	font-weight:300;
	animation-name: effect;
    animation-duration: 4s;
    margin-top: 60px;
}


@keyframes effect {
  from {margin-top: 0px;opacity: 0;}
  to {opacity: 1; margin-top: 60px;}
}

.welp{
	font-size: 25px;
	animation-name: effectp;
    animation-duration: 4s;
}

@keyframes effectp {
  from {opacity: 0;}
  to {opacity: 1;}
}


.mynav{
	padding: 10px;
	display: flex;
	animation-name: try;
    animation-duration: 4s;
}



.item1{
	flex-grow: 20;
}

.item1 img:hover{
	width: 100px;
	
}

.item2{
	flex-grow: 1;
}

.btn-lg{
	height: 50px;
	width: 150px;
	border:3px solid #b46427;
	margin-top: 25px;
	color: #e36725;
}



/*sec2 begins*/
#sec2{background-image: linear-gradient(to right,#efeded 10%, white 70%);}
.myself{
	-webkit-animation-name: myself, pendulum;
	-webkit-animation-duration: 3s, 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1,infinite;
	animation-direction:alternate;
	margin-top: 25vh;
	border-radius: 50%;
	border:1px solid grey;
	animation-fill-mode: forwards;
}

@keyframes myself{
	from{
		transform:translateX(20px);
		width: 170px;
		height: 170px;
	}

	to{
		width: 270px;
	    height: 270px;
		transform:translateX(150px);
	}
}


@keyframes pendulum{
	from{
		transform:translateX(150px);
	}

	to{
		transform:translateX(50px);
	}
}



.secondbox{
	text-align: center;
	margin-top: 9%;
}


.innerbox{
	width: 80%;
}

.head{
	color: #fb3e5e;
}

.desc{
	font-size: 25px;
}

.end{
	color: lightgrey;
}



/*third section begins*/
#sec3{}

.display{display: none;}
.head3{
	text-align: center;
}

.first{
	background-color: #caf0ef;
	height: 100vh;
	display: flex;
    justify-content: center;
    align-content: center;
  	align-items: center;
  	flex-direction: column;
  	text-align: center;
  	animation: suspense;
  	animation-duration: 2s;
  	animation-fill-mode: forwards;
}

@keyframes suspense{
	from{opacity: 0;}
	to{opacity: 1;}
}

.second{
	background-color: #cbf8c6;
	height: 100vh;
	display: flex;
  	justify-content: center;
  	align-content: center;
  	align-items: center;
  	flex-direction: column;
  	text-align: center;
  	opacity: 0;
  	animation: suspensetwo;
  	animation-duration: 3s;
  	animation-delay: 1s;
  	animation-fill-mode: forwards;
}

@keyframes suspensetwo{
	from{opacity: 0;}
	to{opacity: 1;}
}

.third{
	background-color: #f8e6d5;
	height: 100vh;
	display: flex;
   justify-content: center;
    align-content: center;
  	align-items: center;
  	flex-direction: column;
  	text-align: center;
  	opacity: 0;
  	animation: suspensethree;
  	animation-duration: 3s;
  	animation-delay: 2s;
  	animation-fill-mode: forwards;
}

@keyframes suspensethree{
	from{opacity: 0;}
	to{opacity: 1;}
}

.gigimg{
	width: 250px;
	height: 250px;
}


#special{height: 200px;}

.giginner{width: 70%;}


/*smaller version*/
#cannot{height: 100vh;}
.sfirst{
	background-color: #caf0ef;
	display: flex;justify-content: center;
    align-content: center;
  	align-items: center;
  	flex-direction: column;
  	text-align: center;
  	height: 33%;
  }
.ssecond{
	background-color: #cbf8c6;
	display: flex;justify-content: center;
    align-content: center;
  	align-items: center;
  	flex-direction: column;
  	text-align: center;
  	height: 33%;
 }

.sthird{
	background-color: #f8e6d5;
	display: flex;justify-content: center;
    align-content: center;
  	align-items: center;
  	flex-direction: column;
  	text-align: center;
  	height: 33.5%;
}
.sgigimg{width: 80px;height: 70px;}

.sgiginner{
	display: flex;
	justify-content: center;
    align-content: center;
  	align-items: center;
  	flex-direction: column;
  	text-align: center;
  	width: 80%;
  }


/*sec4 begins here*/
#sec4{}
.projectheading{font-family:   'Merienda', cursive; color: grey;}
.card{
	height: 210px;
	background-color: white;
	margin: 15px;
	border-radius: 10px;
	opacity: 0.5;
	overflow: hidden;
}
.card:hover{
	opacity: 1;
	overflow: hidden;
}
.a{border:3px solid maroon;}
.b{border:3px solid darkblue;}
.c{border:3px solid purple;}
.d{border:3px solid #65cea6;}
.e{border:3px solid #cac271;}
.f{border:3px solid #c25c5c;}

.imgbox{height: 100%;padding: 0px;}
.outer{
	padding: 0px;
}

.projects{

}

.projname{
	margin-bottom: 35px;
}

.github{font-size: 22px;display: block; padding-bottom: 5px;}
.link{
	font-size: 20px;
}
a:hover{text-decoration: none;}

.headproject{height: 15vh;}
.mainbox{
	height: 80vh;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
}





















/*sec 5 begins here*/
#sec5{background-image: linear-gradient(to bottom, #efeded 10% , white 70%);height: 100vh;}
.headimg{height: :5vh;}
.headrow{height: 10vh;}
.lastimg{float: right;}
.lasthead{text-align: center;font-family: 'Merienda', cursive;font-size: 50px;}
.social{padding-top: 3%;height: 60vh;padding-bottom: 6%;}
.label{color: black; font-size: 20px;padding-left: 0px;font-weight: normal;}
form{display: flex;justify-content: center; flex-direction: column;align-items: center;}
ul {list-style: none;}
.myaccount{display: flex;align-items: center;justify-content:center;font-size: 50px;}
.myaccount li{padding: 10px;}
.piece{}
.piecelast{height: 10vh;}
.input{width: 40vw;height: 40px;margin-top: 7px;}
#body{height: 70px;}
.field{padding-top:20px;}
a{color: currentColor;}

















@media only screen and (max-width: 700px){
	#can{
		display: none;
	}

	#cannot{
		display: block;
	}

	.myself{margin-top: 2vh;}
	.innerbox{width: 100%;}
	@keyframes myself{
	from{
		transform:translateX(0px);
		width: 100px;
		height: 90px;
	}

	to{
		width: 130px;
	    height: 130px;
		transform:translateX(150px);
	}
}

}
